
.buttonsRight{
    float: right; 
    margin-right: 5px;
}

.divLogoLogin {
    width: 190px;
    height: 90px;
    margin: 0 auto;
}

.imgLogo {
    width: 190px;
    height: 90px;
}

.CustomLoading {
	width:100%;
	height:100%;
	background:#555;
	padding:30px;
	position:fixed;
	z-index:9999 !important;
	top:0px;
	left:0px;
	margin:0px;
	opacity:.3;
	text-align: center;
}

.CustomLoading2 {
	width:100%;
	height:100%;
	position:fixed;
	z-index:9999 !important;
	top:0px;
	left:0px;
	margin:0px;
	text-align: center;
}

.CustomLoading22 {
	width:350px;
	height:170px;
	background:#555;
	padding:30px;
	position:relative;
	z-index:9999 !important;
	border-radius: 3px 4px 4px 3px;
	opacity:.9;
    margin: 0 auto;
	top:100px;
}


.CustomTexto {
	color:#dcdcdc;
	text-align:center;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

.upper{
    text-transform: uppercase;
}